* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url("IMG/font.jpg");
    background-repeat: round;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}

.title h1 {
    text-align: center;
    font-size: 50px;
    color: aliceblue;
}

header {
    background-color: rgb(55, 102, 124);
    padding: 30px;
    color: rgb(0, 0, 0);
}

.begin  {
    text-align: center;
    font-size: 50px;
    margin: 50px;
}

.begin a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(55, 102, 124);
    padding: 20px;
    border-radius: 30px;
    transition: 0.3s;
}

.begin a:hover {
    font-size: 55px;
    background-color: rgb(0, 0, 0);
}

.content p {
    text-align: center;
    margin: 150px;
    font-size: 20px;
}

.image img {
    margin: 10px;
    width: 500px;
    border-radius: 30px;
    transition: 0.3s;
}

.image img:hover {
    width: 550px;
}

.image img:active {
    width: 475px;
}

.image {
    margin-bottom: 100px;
}

.projets {
    padding: 30px;
    margin-top: 30px;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 30px;
    text-align: center;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.4px);
    -webkit-backdrop-filter: blur(14.4px);
    border: 1px solid rgba(255, 255, 255, 0.24);
}

.decou p {
    font-size: 20px;
}

.decou {
    padding: 30px;
    margin-top: 30px;
    margin-right: 400px;
    margin-left: 400px;
    margin-bottom: 30px;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(14.4px);
    -webkit-backdrop-filter: blur(14.4px);
    border: 1px solid rgba(255, 255, 255, 0.24);
}

@media screen and (max-width: 1400px) {
    .projets {
        margin-top: 30px;
        margin-right: 200px;
        margin-left: 200px;
        margin-bottom: 30px;
    }

    .decou {
        margin-top: 30px;
        margin-right: 200px;
        margin-left: 200px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1100px) {
    .projets {
        margin-top: 30px;
        margin-right: 200px;
        margin-left: 200px;
        margin-bottom: 30px;
    }

    .decou {
        margin-top: 30px;
        margin-right: 100px;
        margin-left: 100px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 1030px) {
    .projets {
        margin-top: 30px;
        margin-right: 100px;
        margin-left: 100px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 800px) {
    .projets {
        margin-top: 30px;
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .decou {
        margin-top: 30px;
        margin-right: 30px;
        margin-left: 30px;
        margin-bottom: 30px;
    }

    .image img {
        width: 400px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 550px) {
    .image img {
        width: 300px;
    }

    .begin  {
        font-size: 30px;
        margin: 30px;
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 445px) {
    .image img {
        width: 230px;
        
    }
}

